<div id="container-signers">

    <div id="container-list">
        <p>Signers of the Petition</p>
        <div id="list-of-signers">
            <ul>
                {{#arrSigners}}
                    {{#if url}}
                        <li><a href='{{url}}'> {{first}} {{last}} </a> {{#if city}} - <a href='/signers/{{city}}'> {{city}} </a> {{/if}}</li>
                    {{else}}
                        <li>{{first}} {{last}}  {{#if city}} - <a href='/signers/{{city}}'> {{city}} </a> {{/if}}</li>
                    {{/if}}

                {{/arrSigners}}
            </ul>
        </div>

    </div>

</div>
