
    <div id="container-list">
        <div>
            <p>Signers of the Petition  {{#if citySelection}} from {{citySelection}} (<a href='../signers'>see all</a>) {{/if}}</p>
        </div>

        <div id="list-of-signers">
            <ul>
                {{#arrSigners}}
                    {{#if url}}
                        <li><a href='{{url}}'> {{first}} {{last}} </a> {{#if city}} - <a href='/signers/{{city}}'> {{city}} </a> {{/if}}</li>
                    {{else}}
                        <li>{{first}} {{last}}  {{#if city}} - <a href='/signers/{{city}}'> {{city}} </a> {{/if}}</li>
                    {{/if}}

                {{/arrSigners}}
            </ul>
        </div>

    </div>
